<article *ngIf="warehouse">
  <header><h2>{{ warehouse.name }}</h2></header>

  <div class="container">
    <div class="row mb-3">
      <div class="col">
        <p>ID: <strong>{{ warehouse.id }}</strong></p>
        <p>Name: <strong>{{ warehouse.name }}</strong></p>
        <p>Capacity: <strong>{{ warehouse.capacity }}</strong></p>
        <p>
          <a [routerLink]="['/warehouses', warehouse.id, 'products', 'create']" class="btn btn-primary">Create product</a>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div *ngIf="products">
          <h4 *ngIf="products.products.length === 0">No products in this warehouse</h4>
          <h4 *ngIf="products.products.length > 0">Products</h4>
          <table *ngIf="products.products.length > 0" class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products.products">
                <td>{{ product.name }}</td>
                <td>
                  <a [routerLink]="['/warehouses', warehouse.id, 'products', product.id]" class="btn btn-info">View</a>
                </td>
                <td>
                  <a [routerLink]="['/warehouses', warehouse.id, 'products', product.id, 'edit']" class="btn btn-warning">Edit</a>
                </td>
                <td>
                  <button (click)="onProductDelete(product)" class="btn btn-danger">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</article>
