<article class="text-justify">
  <header><h2>Warehouses</h2></header>

  <p>
    <a [routerLink]="['/warehouses', 'create']" class="btn btn-primary">Create warehouse</a>
  </p>

  <table *ngIf="warehouses" class="table table-striped">
    <thead *ngIf="warehouses.warehouses.length > 0">
      <tr>
        <th>Name</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let warehouse of warehouses.warehouses">
        <td>{{warehouse.name}}</td>
        <td>
          <a [routerLink]="['/warehouses', warehouse.id]" class="btn btn-info">View</a>
        </td>
        <td>
          <a [routerLink]="['/warehouses', warehouse.id, 'edit']" class="btn btn-warning">Edit</a>
        </td>
        <td>
          <button (click)="onDelete(warehouse)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</article>
